@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root,
  [data-theme='dark'],
  [data-theme='light'] {
    --background: 0 0% 70%; /* #B2B2B2 */
    --foreground: 0 0% 0%; /* #000000 */

    --card: 0 0% 92%; /* #EAEAEA */
    --card-foreground: 3 55% 30%; /* #782322 */

    --popover: 0 0% 92%;
    --popover-foreground: 3 55% 30%;

    --primary: 3 55% 30%;
    --primary-foreground: 0 0% 92%;

    --secondary: 0 0% 92%;
    --secondary-foreground: 3 55% 30%;

    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 0%;

    --accent: 0 0% 92%;
    --accent-foreground: 3 55% 30%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 3 55% 30%;
    --input: 0 0% 92%;
    --ring: 3 55% 30%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

@layer components {
  .btn-outline-primary {
    @apply bg-transparent border border-primary text-primary;
  }
}
